* {/*
    border: 1px ;
    border-style:  dotted;
    border-color: black; 
    test
*/ 
}  

header{
    
    padding-top: 1px;
    padding-bottom: 0%;
    background-color: lightgray;
    margin-bottom: 0px;
    
}

#logo {
    padding-left: 20px;
    padding-top: 30px;
    float: left;
}

 #pagetitle {
    font-size: 50px;
    color: black;
    padding-left: 38%;
 } 

 
 #quicklinks ul {
    
    margin-top: 60px;
    padding: 10px;
    padding-left: 18%;
    background-color:  rgb(78, 73, 73);
    
}

#quicklinks ul li {
    width: 100%;
    background-color: rgb(78, 73, 73);
    text-align: center;
    list-style: none; /* Remove bullets */
    
    padding-left: 25px; 
    padding-right: 25px;
    font-weight: bold;
    
}

#quicklinks li {
    display: inline;
    
    
    
}

#quicklinks a {
    text-decoration: none;
    color:white
    
}

#quicklinks a:hover {
    color: lightblue;
}